{  
  "extends": ['eslint:recommended', 'plugin:@typescript-eslint/recommended', "plugin:import/recommended"],
  "parser": '@typescript-eslint/parser',
  "plugins": ['@typescript-eslint', 'eslint-plugin-import'],
  "root": true,
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "rules": {
    "react/prop-types": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "import/order": [
      "error",
      {
        "newlines-between": "always",
        "groups": [
          ["external", "builtin"],
          "internal",
          ["index", "sibling", "parent"],
        ],
      },
    ],
  }
}
