{
  "extends": ["@iteam/eslint-config-react/typescript"],
  "rules": {
    "react/prop-types": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/ban-ts-comment": "off"
  }
}
