{
  "extends": ["@iteam/eslint-config-react"],

  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["@", "./src"]
        ],
        "extensions": [".js",".jsx"]
      }
    }
  },
  
}

