@import './fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

#root {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {
  body {
    @apply bg-lightGrey;
  }
  #root {
    @apply flex;
  }
  .heading-1 {
    @apply text-3xl tracking-wide font-bold mb-12 max-w-xl;
  }

  .heading-2 {
    @apply text-2xl tracking-wide font-bold mb-4 max-w-xl;
  }

  .link {
    @apply underline;
  }

  .paragraph {
    @apply max-w-xl mb-8 last:mb-0 leading-relaxed tracking-wide text-xl;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
