@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {
  #root {
    @apply flex;
  }
  .heading-1 {
    @apply text-3xl tracking-wide font-bold mb-6 max-w-xl;
  }

  .heading-2 {
    @apply text-2xl tracking-wide font-bold mb-4 max-w-xl;
  }

  .link {
    @apply underline;
  }

  .paragraph {
    @apply max-w-xl mb-6 leading-relaxed tracking-wide text-lg;
  }
}
